*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    height:100%;
    width:100%;
}

body{
    background:rgba(117, 64, 64, 0.593);
    color:rgba(230, 234, 236, 0.947);
    font-family:sans-serif;
    font-size: 16px;
}

main{
    height:100%;
    display:flex;
    flex-direction:column;
}

nav{
    padding:15px 25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-style: italic;
    font-weight: 100;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
}

nav button{
    padding:10px 18px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size: 15px;
    font-style: italic;
}

.board{
    flex:1;
    display:flex;
    gap:20px;
    padding:20px;
}

.task-column{
    flex:1;
    background:#8e366f;
    padding:15px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    gap:10px;
    transition:0.3s;
}

.task-column.hover-over{
    border:2px dashed rgb(236, 227, 227);
    scale:1.03;
}

.heading{
    display: flex;
    justify-content:space-between;
    font-size: 20px;
    font-weight:600;
}

.heading .right{
    background:#90917a;
    color:rgb(49, 26, 142);
    padding:4px 12px;
    border-radius:100px;
    font-size:14px;
}

.task{
    background:rgb(9, 118, 107);
    padding:15px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    gap:8px;
    cursor:grab;
}

.task button{
    align-self:flex-end;
    padding:6px 14px;
    border:none;
    border-radius:20px;
    background:red;
    color:rgb(250, 244, 244);
    cursor:pointer;
    font-size:13px;
}

.task h2{
    font-size:20px;
    margin-bottom:5px;
    font-palette: inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.priority{
    background:#531b1b;
    width:max-content;
    padding:4px 8px;
    border-radius:5px;
    font-size:12px;
}

.modal{
    position:fixed;
    inset:0;
    display:none;
    justify-content:center;
    align-items:center;
}

.modal.active{
    display:flex;
}

.bg{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.7);
}

.center{
    position:relative;
    z-index:50;
    background:#005d61;
    padding: 25px 30px;
    border-radius:20px;

    width:90%;
    max-width:500px;
    height:auto;
    max-height:80vh;
    overflow-y:auto;

    display:flex;
    flex-direction:column;
    gap:15px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.center input,
.center textarea{
    padding:10px;
    font-size:15px;
    font-style: italic;
}

.center textarea{
    min-height:120px;
    flex:1;
    font-size: 15px;
}

.center button{
    padding: 12px;
    cursor:pointer;
    font-size: 15px;
}
